select {
  border: 0.5px solid var(--input-border-color);
  padding-left: 1rem;
  outline: var(--primary) none 0px;
  background-color: var(--background);
  vertical-align: middle;
  min-height: 3rem;

  &:focus {
    border-color: var(--primary);
    box-shadow: inset 1px 1px 0 var(--primary), inset -1px -1px 0 var(--primary);
  }

  &:disabled {
    color: var(--disabled-button-colour);
    background-color: var(--disabled-button-background);
    border-color: var(--disabled-button-background);
    box-shadow: none;
    cursor: initial;
  }
}

input,
textarea {
  border: 0.5px solid var(--input-border-color);
  border-radius: 2px;
  padding: 0 0.5rem;
  min-height: 3rem;
  outline: currentcolor none 0px;
  /** for checkboxes, radiobuttons etc */
  accent-color: var(--primary);

  &:focus {
    border-color: var(--primary);
    box-shadow: inset 1px 1px 0 var(--primary), inset -1px -1px 0 var(--primary);
  }

  &:user-invalid {
    border-color: var(--danger);

    &[required] {
      border-color: var(--danger);
    }

    &:hover,
    &:focus {
      box-shadow: inset 1px 1px 0 var(--danger), inset -1px -1px 0 var(--danger);
    }
  }

  &:disabled {
    cursor: unset;
    color: var(--disabled-button-color);
    background-color: var(--disabled-button-background);
    border-color: var(--disabled-button-background);
    box-shadow: none;
  }

  &[type='color'],
  &[type='file'],
  &[type='image'],
  &[type='range'],
  &[type='checkbox'],
  &[type='radio'] {
    border: none;
    min-height: unset;
    padding-left: 0;
  }

  &[type='radio'],
  &[type='checkbox'] {
    &:focus-visible {
      outline-offset: 0.1rem;
      outline: var(--button-outline-color) dashed 0.1rem;
    }
  }

  &[type='submit'],
  &[type='button'],
  &[type='reset'] {
    border-radius: 2px;
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 2rem 1.5rem;
    text-wrap: nowrap;
    background-color: var(--primary);
    color: var(--color-on-primary);

    &:focus {
      outline: none;
      background-color: var(--primary-hover);
    }

    &:hover {
      cursor: pointer;
      background-color: var(--primary-hover);
    }

    &:active {
      outline: none;
      cursor: pointer;
      background-color: var(--primary-active);
    }

    &:disabled {
      cursor: initial;
      color: var(--disabled-button-color);
      background-color: var(--disabled-button-background);
    }
  }

  &[type='color'],
  &[type='file'],
  &[type='range'] {
    border: none;

    &:focus {
      outline: var(--primary) solid 2px;
      outline-offset: 2px;
      box-shadow: none;
    }
  }

  &[type='file'] {
    &::file-selector-button,
    &::-webkit-file-upload-button {
      border-radius: 2px;
      line-height: 0;
      border: none;
      background-color: transparent;
      padding: 2rem 1.5rem;
      text-wrap: nowrap;
      background-color: var(--primary);
      color: var(--color-on-primary);
    }

    &:focus {
      outline: none;

      &::file-selector-button,
      &::-webkit-file-upload-button {
        outline: none;
        background-color: var(--primary-hover);
      }
    }

    &:hover {
      &::file-selector-button,
      &::-webkit-file-upload-button {
        cursor: pointer;
        background-color: var(--primary-hover);
      }
    }

    &:active {
      &::file-selector-button,
      &::-webkit-file-upload-button {
        outline: none;
        cursor: pointer;
        background-color: var(--primary-active);
      }
    }

    &:disabled {
      &::file-selector-button,
      &::-webkit-file-upload-button {
        cursor: initial;
        color: var(--disabled-button-color);
        background-color: var(--disabled-button-background);
      }
    }
  }

  &[type='color'] {
    background-color: transparent;
    width: 8rem;
    padding: 0;
  }

  &[type='range'] {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    padding: 0;

    &::-moz-range-thumb {
      width: 1.2rem;
      height: 1.2rem;
      background: var(--background);
      border: 2px solid var(--range-filled-track-color);
      border-radius: 100px;
    }

    &::-moz-range-track {
      height: 0.3rem;
      background-color: var(--range-track-color);
    }

    &::-moz-range-progress {
      height: 0.3rem;
      background-color: var(--range-filled-track-color);
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 1.6rem;
      height: 1.6rem;
      background: var(--background);
      border: 2px solid var(--range-filled-track-color);
      border-radius: 100px;
      margin-top: -6px;
    }

    &::-webkit-slider-runnable-track {
      height: 3px;
      background: var(--range-track-color);
      border: none;
      border-radius: 3px;
    }

    &:hover,
    &:focus {
      background: transparent;
      outline: none;

      &::-moz-range-progress {
        background-color: var(--primary);
      }

      &::-moz-range-thumb {
        border: 2px solid var(--primary);
      }

      &::-webkit-slider-runnable-track {
        background-color: var(--primary);
      }

      &::-webkit-slider-thumb {
        border: 2px solid var(--primary);
      }
    }

    &:disabled {
      &:hover,
      &:focus {
        background: transparent;
        outline: none;

        &::-moz-range-progress {
          background-color: var(--range-filled-track-color);
        }

        &::-moz-range-thumb {
          border: 2px solid var(--range-filled-track-color);
        }

        &::-webkit-slider-runnable-track {
          background-color: var(--range-filled-track-color);
        }

        &::-webkit-slider-thumb {
          border: 2px solid var(--range-filled-track-color);
        }
      }
    }
  }

  &.underline {
    padding: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    background-color: transparent;

    &:focus {
      box-shadow: none;
    }

    &:hover,
    &:focus {
      border-color: var(--primary);
      box-shadow: inset 0 -1px 0 var(--primary);
    }

    &:user-invalid {
      border-color: var(--danger);

      &[required] {
        border-color: var(--danger);
      }

      &:hover,
      &:focus {
        border-color: var(--danger);
        box-shadow: inset 0 -1px 0 var(--danger);
      }
    }

    &:disabled {
      border-color: var(--disabled-button-color);
      &:hover,
      &:focus {
        box-shadow: none;
      }
    }
  }
}

textarea {
  padding: 0.5rem 0.5rem;
}
