/** responsive breakpoints **/
@xs: 415px;
@sm: 576px;
@md: 768px;
@lg: 992px;
@xl: 1200px;
@xxl: 1400px;

:root {
  --html-background: #faf9f8;
  --background: #fff;
  --code-background: #f3f2f1;

  --shadow-color: 0, 0, 0;
  --hr-color: #d2d0ce;
  --border-color: #8a8886;

  /** theme colors **/
  --primary: #0078d4;
  --primary-hover: #106ebe;
  --primary-active: #004578;
  --color-on-primary: #fff;

  --highlight: #fce100;

  --danger: #d13438;
  --danger-hover: #a92b1a;
  --danger-active: #740912;
  --color-on-danger: #fff;

  --warning: #fff4ce;
  --color-on-warning: #323130;

  --error: #fde7e9;
  --color-on-error: #323130;

  --success: #dff6dd;
  --color-on-success: #323130;

  --disabled: #d2d0ce;
  --color-on-disabled: #a19f9d;

  /** inputs and buttons **/
  --button-background: #fff;
  --button-hover: #e1dfdd;
  --button-active: #c8c4c4;
  --button-outline-color: #000;
  --button-color: #000;

  --disabled-button-background: #f3f2f1;
  --disabled-button-color: #a19f9d;

  --input-border-color: #605e5c;
  --input-hover: #c8c6c4;

  --range-track-color: #c8c6c4;
  --range-filled-track-color: #605e5c;
  --range-track-hover-color: #e0f2ff;

  /** table **/
  --table-hover: #e1dfdd;
  --table-striped-hover: #d2d0ce;
  --table-stripe: #edebe9;

  /** additional colors **/
  --gray: #c8c6c4;
  --color-on-gray: #000;

  --black: #000;
  --color-on-black: #fff;

  --white: #fff;
  --color-on-white: #323130;

  --yellow: #fce100;
  --color-on-yellow: #000;

  --orange: #ff9414;
  --color-on-orange: #000;

  --red: #a80000;
  --color-on-red: #fff;

  --green: #107c10;
  --color-on-green: #fff;

  /** distances **/
  --distance-1: 0.5rem;
  --distance-2: 1rem;
  --distance-3: 1.5rem;
  --distance-4: 2rem;
  --distance-5: 2.5rem;

  /** typography | 1 rem = 10 px **/
  --h1-font-size: 3.2rem;
  --h2-font-size: 3rem;
  --h3-font-size: 2.8rem;
  --h4-font-size: 2.6rem;
  --h5-font-size: 2.4rem;
  --h6-font-size: 2.2rem;
  --th-font-size: 2.2rem;
  --paragraph-font-size: 1.6rem;
  --label-font-size: 1.6rem;
  --small-font-size: 1.2rem;

  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height-1: 1;
  --line-height-2: 1.125;
  --line-height-3: 1.25;
  --line-height-4: 1.5;
}
