/** borders may not be important, because they are used in other classes */

.border {
    border: 0.5px solid var(--border-color);
}

.border-bottom {
    border-bottom: 0.5px solid var(--border-color);
}

.border-top {
    border-top: 0.5px solid var(--border-color);
}

.border-right {
    border-right: 0.5px solid var(--border-color);
}

.border-left {
    border-left: 0.5px solid var(--border-color);
}

.border-thick {
    border-width: 2px;
}